/* 色だけ調整 */

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 円筒余白 */

.main-content {
  padding: 80px 16px;
}

@media (max-width: 720px) {
  .main-content {
    padding: 60px 12px;
  }
}